@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pattern {
  background-image: linear-gradient(
      to bottom,
      theme("colors.primary.500 / 0.05"),
      theme("colors.primary.500 / 0.4")
    ),
    url("/pattern.svg");
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear alternate infinite;
  stroke: theme("colors.primary.500");
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 500;
  }
}

.stacked-element {
  z-index: 1;
  align-self: flex-end;
}

.stacked-element:not(:first-child) {
  margin-left: calc(0.5rem * -1);
}
